{% extends 'madmin/base_admin.html' %}

{% block content-admin %}
    <form enctype="multipart/form-data" id="form_upload" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="panel panel-default">
                    <div class="row">
                        <div class="col-xs-4"><label>文件</label></div>
                        <div class="col-xs-8">
                            <input type="file" name="file" class="form-control"/>
                        </div>
                    </div>


                    <div class="row" style="margin-top: 10px">
                        <div class="col-xs-12">
                            <input value="提交" class="btn btn-primary form-control" id="upload"/>
                        </div>
                    </div>

                    <div class="row"></div>

                </div>
            </div>
        </div>

        <script>
            var option = {
                url: '/madmin/api/upload',
                success: function (data) {
                    console.log(data.code);
                }
            }

            $('#upload').click(function () {
                $('#form_upload').ajaxSubmit(option);
            });

        </script>

{% endblock %}