{% extends 'madmin/base_admin.html' %} {% block header-admin %}
    <style>
        .col-sm-12 .panel .row {
            border-bottom: 1px solid #ddd;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-left: 10px;
            margin-right: 10px;
        }
    </style>

{% endblock %} {% block content-admin %}

    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/madmin/index">用户管理</a></li>
            <li class="active">编辑</li>
        </ol>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">编辑用户</div>
                <div class="row">
                    <div class="col-xs-2">用户名</div>
                    <div class="col-xs-10">
                        <input class="form-control" type="text" value="{{ user.username }}" id="username">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">原密码</div>
                    <div class="col-xs-10">
                        <input class="form-control" type="text" id="pre-password">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">新密码</div>
                    <div class="col-xs-10">
                        <input class="form-control" type="text" id="now-password">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button id="edit" class="btn btn-primary form-control">修改</button>
                    </div>
                </div>
            </div>
            <div class="alert alert-success alert-dismissable" style="display:none;" id="alert">
                修改成功
            </div>
        </div>
    </div>

    <script>
        $("#edit").click(function () {
            $.post('/madmin/api/alter_password/',
                {
                    pre_password: $('#pre-password').val(),
                    now_password: $('#now-password').val(),
                    hash_id: '{{user.hash_id}}',
                },
                function (data) {
                    if (data.result == 'success') {
                        $('#alert').show();
                        setTimeout(function () {
                            $('#alert').hide();
                        }, 2000);
                    }
                    else
                        alert(data.error);
                }
            );
        });

    </script>

{% endblock %}
