{% extends 'mAdmin/base_admin.html' %}
{% block header-admin %}
    <style>
        .col-sm-12 .panel .row {
            border-bottom: 1px solid #ddd;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-left: 10px;
            margin-right: 10px;
        }
    </style>

{% endblock %} {% block content-admin %}

    <div class="row">

        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/madmin/index">用户管理</a></li>
                <li class="active">添加用户</li>
            </ol>
        </div>

        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"><label>添加用户</label></div>
                <div class="row">
                    <div class="col-xs-2"><label>用户名</label></div>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" value="" id="username">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2"><label>密码</label></div>
                    <div class="col-xs-10">
                        <input type="text" id="password" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2"><label>头像</label></div>
                    <div class="col-xs-10">
                        <img src="" id="icon">
                        <div
                        <input type="file">
                        <input value="上传" class="btn btn-primary" id="upload"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button id="add" class="btn btn-primary form-control">添加</button>
                    </div>
                </div>
            </div>
            <div class="alert alert-success alert-dismissable" style="display:none;" id="alert">
                添加成功
            </div>
        </div>
    </div>

    <script>
        $("#add").click(function () {
            $.post('/main/api/user_register',
                {
                    icon:$
                    username: $('#username').val(),
                    password: $('#password').val(),
                },
                function (data) {
                    if (data.code == 1) {
                        $('#alert').show();
                        setTimeout(function () {
                            $('#alert').hide();
                        }, 2000);
                    }
                    else
                        alert(data.msg);
                }
            );
        });

        function upload_icon() {
            var option = {
                url: '/main/api/upload',
                success: function (data) {
                    console.log(data.code);
                }
            }

            $('#upload').click(function () {
                $('#form_upload').ajaxSubmit(option);
            });

        }

    </script>

{% endblock %}


