{% extends 'base.html' %}
{% load irfilters %}
{% block header %}
    <title>新闻列表</title>
    <link rel="stylesheet" href="/static/css/style_news.css">
    <link rel="stylesheet" href="/static/css/new-lists.css">
{% endblock %}
{% block content %}

    <div class="col-xs-10">
    {% for l in grouplist %}
        <div class="row" id="row{{ l.key }}">
                <h2 id="section-4">{{ l.date|date:'F Y' }}</h2>
                <hr>
            {% for n in l.list %}
                <div class="clearfix news-list">
                    <div class="news-date">
                        <div class="events-date-2">
                            <span class="date-month-2">{{ n.created_date|date:'F' }}</span>
                            <hr/>
                            <span class="date-day-2">{{ n.created_date|date:'d' }}</span>
                        </div>
                    </div>
                        <div class="news-img">
                            <img src="{{ n.picture }}" style="width: 135px;height: 70px;">
                        </div>
                        <div class="news-detail">
                            <a class="details-link" href="/main/news_detail/{{ n.id }}"
                               target="_blank">{{ n.title }}</a>
                            <p>{{ n.detail |slice:'100' }}</p>
                        </div>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    {%include 'main/pager.html'%}
    </div>



{% endblock %}