.row-style {
            border-bottom: 1px solid #ddd;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-left: 10px;
            margin-right: 10px;
        }

@media (min-width:768px){.modal-dialog{width:800px;margin:30px auto}};
